.video-mixin {
  .video-mixin_thumb {
    height: 160px;
    width: 100%;
    border-radius: 7px;
    background-color: white;
  }
  .video-mixin_data {
    .video-mixin_title {
      font-size: 16px;
      display: block;
      margin-top: 10px;
    }
    .video-mixin_meta {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}

.video_comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video_comment {
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
}
