extends ../base.pug
include ../mixins/video.pug

block content
    div.profile_data
        img(src="/"+user.avatarUrl).avatar
        div #{user.name}
    div.video-grid
        each video in user.videos
            +videoList(video)
            +videoList(video)
            +videoList(video)
            +videoList(video)
        else
            span.empty_message Video not found.